body{
    text-align: center;
    font-family: 'VT323', monospace;
    display : flex;
    width : 80%;
    margin : {
        left : auto;
        right : auto;
    }
    justify-content: center;
    background : {
        image : url("../img/bg-image-universe.jpg");
        repeat : no-repeat;
        size : auto 150%;
        position : relative bottom right;
        color : black;
    }
    color : white;
}

h1 {
    font : {
        size : 120px;
    }
}

#guessWord {
    font : {
        size : 80px;
    }
    margin : {
        top : 80px;
        bottom : 40px;
    }
}

.HMLetter{
    margin : {
        right : 15px;
    }
    color : rgba(0, 0, 0, 0);
}

.advices {
    font-size : 30px;
}

#field {
    font-size : 30px;
}

#run {
    margin : {
        top : 15px;
        bottom : 15px;
    }
}

#RightLetters, #WrongLetters {
    margin : {
        top : 15px;
    }
    font-size : 40px;
}

h2 {
    font-size : 40px;
    display : inline-block;
    margin : 0;
}

@media only screen and (max-width: 576px) {
    body{
        text-align: center;
        font-family: 'VT323', monospace;
        display : flex;
        width : 80%;
        margin : {
            left : auto;
            right : auto;
        }
        justify-content: center;
    }
    
    h1 {
        font : {
            size : 80px;
        }
    }
    
    #guessWord {
        font : {
            size : 60px;
        }
        margin : {
            top : 80px;
            bottom : 40px;
        }
    }
}